<!DOCTYPE html>
<html lang="{% if language %}{{ language }}{% else %}{{ config.language }}{% endif %}">

<head>
    <title>{% if title %}{{ title }}{% else %}{{ config.title }}{% endif %}{% if config.author %} - {{ config.author }}{% endif %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}" />

    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:url" content="{{ config.base_url }}">
    <meta property="og:site_name" content="{{ config.name }}">
    <meta property="og:type" content="website">
    <meta property="article:section" content="">
    <meta property="og:updated_time" content="{% if date %}{{ date }}{% else %}{{ date.now }}{% endif %}T00:00:00Z" />

    <link rel="stylesheet" href="{{ config.base_url }}static/styles/style.min.css" />
    <link rel="stylesheet" href="{{ config.base_url }}static/styles/highlighting.min.css" />
    <link rel="shortcut icon" type="image/png" href="{{ config.base_url }}static/favicon.png"/>
    <meta name="theme-color" content="#ffffff">
</head>
