<section class="section">
    <div class="container">
        <nav id="nav-main" class="nav">
            <div id="nav-name" class="nav-left">
                <a id="nav-anchor" class="title is-4 nav-item" href="{{ config.base_url }}">
                    {{config.heading}}
                </a>
            </div>
            <div class="nav-right">
                <nav id="nav-items" class="nav-item level is-mobile">
                    {% if config.github %}
                    <a class="level-item" aria-label="github" href='{{ config.github }}' target='_blank' rel='noopener'><span class="icon">
                                <i class><svg viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/>
                                </svg></i>
                        </span></a>
                    {% endif %}
                    {% if config.linkedin %}
                    <a class="level-item" aria-label="linkedin" href='{{ config.linkedin }}' target='_blank' rel='noopener'><span class="icon">
                                <i class><svg viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
                                    <path stroke-width="1.8" d="m5.839218,4.101561c0,1.211972 -0.974141,2.194011 -2.176459,2.194011s-2.176459,-0.982039 -2.176459,-2.194011c0,-1.211094 0.974141,-2.194011 2.176459,-2.194011s2.176459,0.982917 2.176459,2.194011zm0.017552,3.94922l-4.388022,0l0,14.04167l4.388022,0l0,-14.04167zm7.005038,0l-4.359939,0l0,14.04167l4.360816,0l0,-7.370999c0,-4.098413 5.291077,-4.433657 5.291077,0l0,7.370999l4.377491,0l0,-8.89101c0,-6.915523 -7.829986,-6.66365 -9.669445,-3.259423l0,-1.891237z"/>
                                </svg></i>
                            </span></a>
                    {% endif %}
                </nav>
            </div>
        </nav>

        <nav class="nav">
            <!-- todo -->
        </nav>
        {{ config.content }}

    </div>
</section>
